{% extends 'Base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<br><br><br>
	<h2> {{ controller_name}} </h2><br>
	<img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" />
{% endblock %}
